<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>AngularTest</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="Scripts/Script.js"></script>
    <link rel="stylesheet" type="text/css" href="CSS/styles.css" />
</head>
<body ng-app="myModule">
    <div ng-controller="myController">
        <input type="text" ng-model="greeting" />
        <br/><br/>
        {{ message }}
        <br/><br />
        {{greeting}}
        <br/> 
        Rows to Display <input type="number" step="1" min="0" max="7" ng-model="rowLimit" />
        <br/>
        Order By: 
        <select ng-model="sortColumn">
        <option value="fname">First Name</option>
            <option value="lname">Last Name</option>
            <option value="dob">Date of Birth</option>
            <option value="salary">Salary DESC</option>
        </select>

        <table id="employeetable">
            <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Salary</th>
                <th>Like</th>
                <th>Dislike</th>
                <th>Like Or Dislike</th>
            </th>
            <tbody>
                <tr ng-repeat="employee in employees | limitTo:rowLimit | orderBy: sortColumn">
                    <td>{{employee.firstName | uppercase}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.gender}}</td>
                    <td>{{employee.salary | currency}}</td>
                    <td>{{employee.likes}}</td>
                    <td>{{employee.dislikes}}</td>
                    <td>
                        <input type="button" value="Like" ng-click="incrementLikes(employee)" />
                        <input type="button" value="Dislike" ng-click="incrementDislikes(employee)" />
                    </td>
                </tr>
            </tbody>
        </table>

        <table>

        </table>
        <br/>
        <table>
            <tr>
                <td>First Name</td>
                <td>
                    <input type="text" ng-model="player.firstName" />
                </td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>
                    <input type="text" ng-model="player.lastName" />
                </td>
            </tr>
            <tr>
                <td>First Name</td>
                <td>
                    <input type="text" ng-model="player.gender" />
                </td>
            </tr>
        </table>
        
        <div>
            First Name : {{player.firstName}}
        </div>
        <div>
            Last Name : {{player.lastName}}
        </div>
        <div>
            Gender : {{player.gender}}
        </div>
        <div>
            Name : {{country.name}}
        </div>
        <div>
            Capital : {{country.capital}}
        </div>
        <div>
            <img src="{{country.flag}}" alt ="{{country.name}}" style="height:300px; width:500px;"/>
        </div>
        <h2>The Dump</h2>
        10 + 20= {{ 10 + 20 }}
        <br />
        {{['Steph', 'LeBron', 'Kevin'][0]}}
        <br />
        {{ {name:'Steph', age: 18}.age }}
        <br />
        20+30 = {{20+30}}
        <br />
        Boolean Angular Expression. Am I hungry? {{1==1}}
        <p>Use ng-model to bind a textfield textarea to a model.</p>
        <p>
            Use the ng-repeat directive to loop through an array. Think of it as a ForEach Loop. ng-repeat="employee in employees"
        </p>
        <p>
            Use ng-click to handle events. Call the method. e.g. ng-click="incrementLikes(employee)
        </p>
    </div>
</body>
</html>
