<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>AngularTest</title>
    <!-- for production link to Google-->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/Script.js"></script>
    <link rel="stylesheet" type="text/css" href="CSS/styles.css" />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="Bootstrap/js/bootstrap.min.js"></script>
</head>
<body ng-app="myModule">
    <div ng-controller="myController">
        <div class="col-md-3 col-md-offset-1">Hello!</div>
        <input type="text" ng-model="greeting" />
        <div id="divTest1"></div>
        <script type="text/javascript">
    $("#divTest1").text("Hello, world!");
        </script>
        <br/><br/>
        {{ message }}
        <br/>
        {{greeting}}
        <br/> <br/>
        Rows to Display <input type="number" step="1" min="0" max="10" ng-model="rowLimit" />
        <br/>
        Click Column Header to Sort <input type="checkbox" ng-model="hideSalary"/> Hide Salary
        <br/>
        <input type="text" placeholder="Search by First or Last Name" ng-model="searchText" />
        <br/><br/>
        <table id="employeetable">
            <thead>
                <tr>
                <th ng-click="sortData('firstName')">
                    First Name<div ng-class="getSortClass('firstName')"></div>
                </th>
                <th ng-click="sortData('lastName')">
                    Last Name <div ng-class="getSortClass('lastName')"></div>
                 </th>
                <th ng-click="sortData('dob')">
                    Dob <div ng-class="getSortClass('dob')"></div>
                </th>
                    <th>
                    Gender
                </th>
                <th ng-click="sortData('salary')" ng-hide="hideSalary">
                    Salary <div ng-class="getSortClass('salary')"></div>
                </th>

                    <th>Like</th>
                    <th>Dislike</th>
                    <th>Like Or Dislike</th>
                </tr>           
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees | orderBy: sortColumn:reverseSort | filter: searchText">
                    <td>{{employee.firstName | uppercase}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.dob | date :"MM/dd/yyyy"}}</td>
                    <td>{{employee.gender}}</td>
                    <td ng-hide="hideSalary">{{employee.salary | currency}}</td>
                    <td>{{employee.likes}}</td>
                    <td>{{employee.dislikes}}</td>
                    <td>
                        <input type="button" value="Like" ng-click="incrementLikes(employee)" />
                        <input type="button" value="Dislike" ng-click="incrementDislikes(employee)" />
                    </td>
                </tr>
            </tbody>
        </table>

        <table>

        </table>
        <br/>
        <table>
            <tr>
                <td>First Name</td>
                <td>
                    <input type="text" ng-model="player.firstName" />
                </td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>
                    <input type="text" ng-model="player.lastName" />
                </td>
            </tr>
            <tr>
                <td>First Name</td>
                <td>
                    <input type="text" ng-model="player.gender" />
                </td>
            </tr>
        </table>
        <!--------------------------------------------->
        <table>
            <tr>
                <td>Your String</td>
                <td><input type="text" ng-model="input" /> </td>
            </tr>
            <tr>
                <td>Result</td>
                <td><input type="text" ng-model="output" /></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" ng-click="transformString(input)"
                           value="Process String" />
                </td>
            </tr>
        </table>



        <div>
            First Name : {{player.firstName}}
        </div>
        <div>
            Last Name : {{player.lastName}}
        </div>
        <div>
            Gender : {{player.gender}}
        </div>
        <div>
            Name : {{country.name}}
        </div>
        <div>
            Capital : {{country.capital}}
        </div>
        <div>
            <img src="{{country.flag}}" alt ="{{country.name}}" style="height:300px; width:500px;"/>
        </div>
        <br/>
        
        <h2>The Dump</h2>

        SELECT View:
        <select ng-model="employeeView">
            <option value="Views/StaticPage.html">Table</option>
            <option value="Views/employeeList.html">Unordered List</option>
        </select>
        <div ng-include="employeeView"></div>


        10 + 20= {{ 10 + 20 }}
        <br />
        {{['Steph', 'LeBron', 'Kevin'][0]}}
        <br />
        {{ {name:'Steph', age: 18}.age }}
        <br />
        20+30 = {{20+30}}
        <br />
        Boolean Angular Expression. Am I hungry? {{1==1}}
        <p>Use ng-model to bind a textfield textarea to a model.</p>
        <p>
            Use the ng-repeat directive to loop through an array. Think of it as a ForEach Loop. ng-repeat="employee in employees"
        </p>
        <p>
            Use ng-click to handle events. Call the method. e.g. ng-click="incrementLikes(employee)
        </p>
        <p>
            The ng-init directive allows you to evaluate an expression in the current scipe. In a real world application you should use a controller instead of ng-init to initialize values on a scope.M<br/>
            ng-init should only be used for aliasing special properties of ng-repeat directive
        </p>
        <p>
            ng-include directive is used to embed an HTML page into another HTML page
            This Techniquie is useful when you want to reuse aspecific view in multiple pages in your applications.
        </p>
    </div>
</body>
</html>
